body {
  background: rgb(191, 224, 149);
  color: #000000;
}

.special-navbar {
  background-color: #fff !important;
  border-bottom-right-radius: 40% !important;
  border-bottom-left-radius: 40% !important;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.special-card {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  word-break: break-all;
  text-align: center;
  min-height: 106px;
}
