body {
  background: rgb(139, 224, 203);
  color: #000000;
}
.special-navbar {
  background-color: #fff !important;
  border-bottom-right-radius: 40% !important;
  border-bottom-left-radius: 40% !important;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.special-card {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  word-break: break-all;
  text-align: center;
  min-height: 106px;
}

.special-shadow {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.clickable {
  transform: scale(1);
  transition: transform 0.3s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.clickable:active {
  transform: scale(0.97) !important;
  transition: transform 0.2s !important;
}

.clickable:hover {
  transform: scale(1.10) !important;
}